In [48]:
import pandas as pd

data = pd.read_csv("data/22_shizuoka_all_20210331.csv", encoding="shift-jis", header=None, dtype=object)

print( data.head() )

  0              1   2  3           4           5        6    7    8    9   \
0  1  1000013040008  01  1  2018-04-02  2015-10-05  静岡家庭裁判所  NaN  101  静岡県
1  2  1000013050072  01  1  2018-04-02  2015-10-05  清水簡易裁判所  NaN  101  静岡県
2  3  1000013050080  01  1  2018-04-02  2015-10-05  浜松簡易裁判所  NaN  101  静岡県
3  4  1000020222119  01  1  2018-04-05  2015-10-05      磐田市  NaN  201  静岡県
4  5  1000020222127  01  1  2018-04-05  2015-10-05      焼津市  NaN  201  静岡県

   ...   20   21          22 23                       24        25  \
0  ...  NaN  NaN  2015-10-05  1    Shizuoka Family Court  Shizuoka
1  ...  NaN  NaN  2015-10-05  1    Shimizu Summary Court  Shizuoka
2  ...  NaN  NaN  2015-10-05  1  Hamamatsu Summary Court  Shizuoka
3  ...  NaN  NaN  2015-10-05  1               Iwata City  Shizuoka
4  ...  NaN  NaN  2015-10-05  1               Yaizu city  Shizuoka

                                         26   27             28 29
0      1-20, Jonaicho, Aoi ku, Shizuoka shi  NaN  シズオカカテイサイバンショ  0
1  1-6-15, Tenjin, Shimizu ku, Shizuoka shi  NaN   シミズカンイサイバンショ  0
2      1-12-5, Chuo, Naka ku, Hamamatsu shi  NaN  ハママツカンイサイバンショ  0
3                   3-1,Kounodai, Iwata shi  NaN           イワタシ  0
4               2-16-32 Honmachi, Yaizu shi  NaN           ヤイヅシ  0

[5 rows x 30 columns]

In [49]:
print( len(data) )

114613

In [50]:
data.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
           dtype='int64')

In [51]:
print( len(data.columns) )

30

In [52]:
data.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
dtype: object

In [53]:
mst = pd.read_csv("data/mst_column_name.txt", encoding="shift-jis", sep='\t')
mst.head()

   column_id column_name_ja   column_name_en
0          1           一連番号   sequenceNumber
1          2           法人番号  corporateNumber
2          3           処理区分          process
3          4           訂正区分          correct
4          5          更新年月日       updateDate

In [54]:
len(mst)

30

In [55]:
len(mst) == len(data.columns)

True

In [56]:
columns = mst.column_name_en.values
print(columns)

['sequenceNumber' 'corporateNumber' 'process' 'correct' 'updateDate'
 'changeDate' 'name' 'nameImageId' 'kind' 'prefectureName' 'cityName'
 'streetNumber' 'addressImageId' 'prefectureCode' 'cityCode' 'postCode'
 'addressOutside' 'addressOutsideImageId' 'closeDate' 'closeCause'
 'successorCorporateNumber' 'changeCause' 'assignmentDate' 'latest'
 'enName' 'enPrefectureName' 'enCityName' 'enAddressOutside' 'furigana'
 'hihyoji']

In [57]:
print( data.columns )

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
           dtype='int64')

In [58]:
print( data.head() )

  0              1   2  3           4           5        6    7    8    9   \
0  1  1000013040008  01  1  2018-04-02  2015-10-05  静岡家庭裁判所  NaN  101  静岡県
1  2  1000013050072  01  1  2018-04-02  2015-10-05  清水簡易裁判所  NaN  101  静岡県
2  3  1000013050080  01  1  2018-04-02  2015-10-05  浜松簡易裁判所  NaN  101  静岡県
3  4  1000020222119  01  1  2018-04-05  2015-10-05      磐田市  NaN  201  静岡県
4  5  1000020222127  01  1  2018-04-05  2015-10-05      焼津市  NaN  201  静岡県

   ...   20   21          22 23                       24        25  \
0  ...  NaN  NaN  2015-10-05  1    Shizuoka Family Court  Shizuoka
1  ...  NaN  NaN  2015-10-05  1    Shimizu Summary Court  Shizuoka
2  ...  NaN  NaN  2015-10-05  1  Hamamatsu Summary Court  Shizuoka
3  ...  NaN  NaN  2015-10-05  1               Iwata City  Shizuoka
4  ...  NaN  NaN  2015-10-05  1               Yaizu city  Shizuoka

                                         26   27             28 29
0      1-20, Jonaicho, Aoi ku, Shizuoka shi  NaN  シズオカカテイサイバンショ  0
1  1-6-15, Tenjin, Shimizu ku, Shizuoka shi  NaN   シミズカンイサイバンショ  0
2      1-12-5, Chuo, Naka ku, Hamamatsu shi  NaN  ハママツカンイサイバンショ  0
3                   3-1,Kounodai, Iwata shi  NaN           イワタシ  0
4               2-16-32 Honmachi, Yaizu shi  NaN           ヤイヅシ  0

[5 rows x 30 columns]

In [59]:
data.columns = columns

data.columns

Index(['sequenceNumber', 'corporateNumber', 'process', 'correct', 'updateDate',
       'changeDate', 'name', 'nameImageId', 'kind', 'prefectureName',
       'cityName', 'streetNumber', 'addressImageId', 'prefectureCode',
       'cityCode', 'postCode', 'addressOutside', 'addressOutsideImageId',
       'closeDate', 'closeCause', 'successorCorporateNumber', 'changeCause',
       'assignmentDate', 'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji'],
      dtype='object')

In [60]:
print( data.head() )

  sequenceNumber corporateNumber process correct  updateDate  changeDate  \
0              1   1000013040008      01       1  2018-04-02  2015-10-05
1              2   1000013050072      01       1  2018-04-02  2015-10-05
2              3   1000013050080      01       1  2018-04-02  2015-10-05
3              4   1000020222119      01       1  2018-04-05  2015-10-05
4              5   1000020222127      01       1  2018-04-05  2015-10-05

      name nameImageId kind prefectureName  ... successorCorporateNumber  \
0  静岡家庭裁判所         NaN  101            静岡県  ...                      NaN
1  清水簡易裁判所         NaN  101            静岡県  ...                      NaN
2  浜松簡易裁判所         NaN  101            静岡県  ...                      NaN
3      磐田市         NaN  201            静岡県  ...                      NaN
4      焼津市         NaN  201            静岡県  ...                      NaN

  changeCause assignmentDate latest                   enName enPrefectureName  \
0         NaN     2015-10-05      1    Shizuoka Family Court         Shizuoka
1         NaN     2015-10-05      1    Shimizu Summary Court         Shizuoka
2         NaN     2015-10-05      1  Hamamatsu Summary Court         Shizuoka
3         NaN     2015-10-05      1               Iwata City         Shizuoka
4         NaN     2015-10-05      1               Yaizu city         Shizuoka

                                 enCityName enAddressOutside       furigana  \
0      1-20, Jonaicho, Aoi ku, Shizuoka shi              NaN  シズオカカテイサイバンショ
1  1-6-15, Tenjin, Shimizu ku, Shizuoka shi              NaN   シミズカンイサイバンショ
2      1-12-5, Chuo, Naka ku, Hamamatsu shi              NaN  ハママツカンイサイバンショ
3                   3-1,Kounodai, Iwata shi              NaN           イワタシ
4               2-16-32 Honmachi, Yaizu shi              NaN           ヤイヅシ

  hihyoji
0       0
1       0
2       0
3       0
4       0

[5 rows x 30 columns]

## ノック5 : 統計量や欠損値を確認しよう

In [61]:
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,114613,114613,114613,114613,114613,114613,114613,1243,114613,114613,...,666,1111,114613,114613,232,230,230,0,46620,114613
unique,114613,114613,6,2,1316,1344,105857,1243,9,1,...,572,1051,1328,1,231,1,129,0,41339,2
top,1,1000013040008,01,0,2015-11-13,2015-10-05,八幡神社,00067214,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,1,1,94126,80704,55969,83291,171,1,51229,114613,...,12,12,101316,114613,2,230,10,NaN,30,114388

In [62]:
data.isna()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114608,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114609,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114610,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114611,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114612,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False

In [63]:
data.isna().sum()

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113370
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113418
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114613
addressOutsideImageId       114613
closeDate                   104536
closeCause                  104536
successorCorporateNumber    113947
changeCause                 113502
assignmentDate                   0
latest                           0
enName                      114381
enPrefectureName            114383
enCityName                  114383
enAddressOutside            114613
furigana                     67993
hihyoji                          0
dtype: int64

## ノック6 : 繰り返し処理で新しいデータを追加する

In [64]:
import os

os.listdir('data')

['mst_corp_kind.csv',
 'mst_hihyoji.csv',
 '22_shizuoka_all_20210331.csv',
 'diff_20210405.csv',
 'diff_20210407.csv',
 'diff_20210406.csv',
 'diff_20210401.csv',
 'mst_process_kbn.csv',
 'mst_column_name.txt',
 'mst_latest.csv',
 'mst_closeCause.csv',
 'diff_20210408.csv',
 'diff_20210409.csv',
 'mst_correct_kbn.csv']

In [65]:
from glob import glob

diff_files = glob('data/diff_*.csv')

print( diff_files )

['data/diff_20210405.csv', 'data/diff_20210407.csv', 'data/diff_20210406.csv', 'data/diff_20210401.csv', 'data/diff_20210408.csv', 'data/diff_20210409.csv']

In [66]:
diff_files.sort()

print( diff_files )

['data/diff_20210401.csv', 'data/diff_20210405.csv', 'data/diff_20210406.csv', 'data/diff_20210407.csv', 'data/diff_20210408.csv', 'data/diff_20210409.csv']

In [67]:
diff = pd.read_csv(diff_files[0], encoding='shift-jis', header=None, dtype=object)

print( len(diff) )

print( diff.head() )

2316
  0              1   2  3           4           5                   6    7   \
0  1  1010001016019  71  0  2021-04-01  2021-03-01         株式会社国際漢方研究所  NaN
1  2  1010001092869  01  1  2021-04-01  2020-06-11  あさひ銀リテールファイナンス株式会社  NaN
2  3  1010001092869  21  0  2021-04-01  2021-03-22  あさひ銀リテールファイナンス株式会社  NaN
3  4  1010001128061  01  1  2021-04-01  2015-10-05      日本アイ・ビー・エム株式会社  NaN
4  5  1010001128061  71  1  2021-04-01  2017-10-02      日本アイ・ビー・エム株式会社  NaN

    8    9   ...   20                                                 21  \
0  301  東京都  ...  NaN  令和３年３月１日東京都渋谷区千駄ヶ谷五丁目２９番１１号ナカニシビル６０２号室株式会社Ｉｎｔｅ...
1  301  東京都  ...  NaN                                                NaN
2  301  東京都  ...  NaN                                                NaN
3  301  東京都  ...  NaN                                                NaN
4  301  東京都  ...  NaN  平成２９年１０月１日東京都中央区日本橋箱崎町１９番２１号アイ・ビー・エム・アジア・パシフィッ...

           22 23   24   25   26   27               28 29
0  2015-10-05  1  NaN  NaN  NaN  NaN  コクサイカンポウケンキュウショ  0
1  2020-06-11  0  NaN  NaN  NaN  NaN  アサヒギンリテールファイナンス  0
2  2020-06-11  1  NaN  NaN  NaN  NaN  アサヒギンリテールファイナンス  0
3  2015-10-05  0  NaN  NaN  NaN  NaN        ニホンアイビーエム  0
4  2015-10-05  1  NaN  NaN  NaN  NaN        ニホンアイビーエム  0

[5 rows x 30 columns]

In [68]:
diff.columns = columns

print( diff.head(3) )

diff = diff.loc[diff['prefectureName'] == '静岡県']

print( diff.head(3) )

  sequenceNumber corporateNumber process correct  updateDate  changeDate  \
0              1   1010001016019      71       0  2021-04-01  2021-03-01
1              2   1010001092869      01       1  2021-04-01  2020-06-11
2              3   1010001092869      21       0  2021-04-01  2021-03-22

                 name nameImageId kind prefectureName  ...  \
0         株式会社国際漢方研究所         NaN  301            東京都  ...
1  あさひ銀リテールファイナンス株式会社         NaN  301            東京都  ...
2  あさひ銀リテールファイナンス株式会社         NaN  301            東京都  ...

  successorCorporateNumber                                        changeCause  \
0                      NaN  令和３年３月１日東京都渋谷区千駄ヶ谷五丁目２９番１１号ナカニシビル６０２号室株式会社Ｉｎｔｅ...
1                      NaN                                                NaN
2                      NaN                                                NaN

  assignmentDate latest enName enPrefectureName enCityName enAddressOutside  \
0     2015-10-05      1    NaN              NaN        NaN              NaN
1     2020-06-11      0    NaN              NaN        NaN              NaN
2     2020-06-11      1    NaN              NaN        NaN              NaN

          furigana hihyoji
0  コクサイカンポウケンキュウショ       0
1  アサヒギンリテールファイナンス       0
2  アサヒギンリテールファイナンス       0

[3 rows x 30 columns]
    sequenceNumber corporateNumber process correct  updateDate  changeDate  \
107            108   1080001015906      01       1  2021-04-01  2015-10-05
108            109   1080001015906      12       1  2021-04-01  2021-03-30
109            110   1080002015434      01       1  2021-04-01  2015-10-05

            name nameImageId kind prefectureName  ...  \
107  株式会社エムケイテック         NaN  301            静岡県  ...
108  株式会社エムケイテック         NaN  301            静岡県  ...
109   有限会社ハイナンＤＣ         NaN  302            静岡県  ...

    successorCorporateNumber changeCause assignmentDate latest enName  \
107                      NaN         NaN     2015-10-05      0    NaN
108                      NaN         NaN     2015-10-05      1    NaN
109                      NaN         NaN     2015-10-05      1    NaN

    enPrefectureName enCityName enAddressOutside   furigana hihyoji
107              NaN        NaN              NaN    エムケイテック       0
108              NaN        NaN              NaN    エムケイテック       0
109              NaN        NaN              NaN  ハイナンディーシー       0

[3 rows x 30 columns]

In [69]:
data_test = data

print( len(data_test) )
print( len(data_test) == len(data) )

print( len(diff) )

data_test = pd.concat([data_test, diff], axis=0 )

print( len(data_test) )

data_test.tail(3)

114613
True
43
114656

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
2159,2160,9080401024929,01,0,2021-04-01,2021-04-01,株式会社リガーレ,NaN,301,静岡県,...,NaN,NaN,2021-04-01,1,NaN,NaN,NaN,NaN,リガーレ,0
2160,2161,9080402007726,01,1,2021-04-01,2015-10-05,有限会社丸信商店,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,マルシンショウテン,0
2161,2162,9080402021917,21,0,2021-04-01,2021-03-30,有限会社岡本商会,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,オカモトショウカイ,0

In [70]:
for f in diff_files:
    diff = pd.read_csv(f, encoding='shift-jis', header=None, dtype=object)
    
    diff.columns = columns
    
    diff = diff.loc[ diff['prefectureName'] == '静岡県' ]
    data = pd.concat([data, diff])
    
print( len(data) )

115020

In [71]:
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,115020,115020,115020,115020,115020,115020,115020,1246,115020,115020,...,678,1130,115020,115020,233,231,231,0,47018,115020
unique,114613,114758,6,2,1322,1351,106019,1245,9,1,...,581,1067,1334,2,232,1,130,0,41577,2
top,3032,7080402010509,01,0,2015-11-13,2015-10-05,八幡神社,00067824,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,4,5,94398,80949,55969,83411,171,2,51474,115020,...,12,12,101546,114985,2,231,10,NaN,30,114795

In [72]:
print( data[data['corporateNumber'].duplicated()] )

     sequenceNumber corporateNumber process correct  updateDate  changeDate  \
107             108   1080001015906      01       1  2021-04-01  2015-10-05
108             109   1080001015906      12       1  2021-04-01  2021-03-30
109             110   1080002015434      01       1  2021-04-01  2015-10-05
110             111   1080105005588      12       0  2021-04-01  2021-03-25
113             114   1080403003401      21       0  2021-04-01  2021-03-02
...             ...             ...     ...     ...         ...         ...
3193           3194   9080001004208      01       1  2021-04-09  2015-10-05
3194           3195   9080001021673      01       1  2021-04-09  2017-07-07
3196           3197   9080102008933      01       1  2021-04-09  2015-10-05
3197           3198   9080402002859      21       0  2021-04-09  2021-04-01
3198           3199   9080402015836      12       0  2021-04-09  2021-04-01

                        name nameImageId kind prefectureName  ...  \
107              株式会社エムケイテック         NaN  301            静岡県  ...
108              株式会社エムケイテック         NaN  301            静岡県  ...
109               有限会社ハイナンＤＣ         NaN  302            静岡県  ...
110   認定特定非営利活動法人ＲＥＡＬＥ　ＷＯＲＬＤ         NaN  399            静岡県  ...
113          合同会社ポップスターインポート         NaN  305            静岡県  ...
...                      ...         ...  ...            ...  ...
3193                  株式会社葉桐         NaN  301            静岡県  ...
3194                 株式会社ＡＣＴ         NaN  301            静岡県  ...
3196               有限会社サクラ急送         NaN  302            静岡県  ...
3197                  有限会社弘法         NaN  302            静岡県  ...
3198              有限会社エコワークス         NaN  302            静岡県  ...

     successorCorporateNumber  \
107                       NaN
108                       NaN
109                       NaN
110                       NaN
113             2080401020653
...                       ...
3193                      NaN
3194                      NaN
3196                      NaN
3197            8080401016019
3198                      NaN

                                            changeCause assignmentDate latest  \
107                                                 NaN     2015-10-05      0
108                                                 NaN     2015-10-05      1
109                                                 NaN     2015-10-05      1
110                                                 NaN     2015-12-11      1
113   令和３年３月２日浜松市中区元浜町３２番地の１株式会社ポップスタージャパン（208040102...     2017-02-17      1
...                                                 ...            ...    ...
3193                                                NaN     2015-10-05      1
3194                                                NaN     2017-07-07      1
3196                                                NaN     2015-10-05      1
3197  令和３年４月１日静岡県磐田市安久路二丁目２番地の２まごころ株式会社（808040101601...     2015-10-05      1
3198                                                NaN     2015-10-05      1

     enName enPrefectureName enCityName enAddressOutside     furigana hihyoji
107     NaN              NaN        NaN              NaN      エムケイテック       0
108     NaN              NaN        NaN              NaN      エムケイテック       0
109     NaN              NaN        NaN              NaN    ハイナンディーシー       0
110     NaN              NaN        NaN              NaN     レアーレワールド       0
113     NaN              NaN        NaN              NaN  ポップスターインポート       0
...     ...              ...        ...              ...          ...     ...
3193    NaN              NaN        NaN              NaN          ハギリ       0
3194    NaN              NaN        NaN              NaN          アクト       0
3196    NaN              NaN        NaN              NaN     サクラキュウソウ       0
3197    NaN              NaN        NaN              NaN         コウボウ       0
3198    NaN              NaN        NaN              NaN       エコワークス       0

[262 rows x 30 columns]

In [73]:
data.drop_duplicates(subset='corporateNumber', keep='last', inplace=True)

In [74]:
data

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3194,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,...,NaN,NaN,2017-07-07,1,NaN,NaN,NaN,NaN,アクト,0
3195,3196,9080101022431,01,0,2021-04-09,2021-04-09,株式会社ＬＥＳＱＵＡ,NaN,301,静岡県,...,NaN,NaN,2021-04-09,1,NaN,NaN,NaN,NaN,レスカ,0
3196,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,サクラキュウソウ,0
3197,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,8080401016019,令和３年４月１日静岡県磐田市安久路二丁目２番地の２まごころ株式会社（808040101601...,2015-10-05,1,NaN,NaN,NaN,NaN,コウボウ,0
3198,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エコワークス,0

In [75]:
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,114758,114758,114758,114758,114758,114758,114758,1245,114758,114758,...,678,1129,114758,114758,233,231,231,0,46900,114758
unique,114388,114758,6,2,1322,1351,105992,1245,9,1,...,581,1066,1334,2,232,1,130,0,41559,2
top,3032,1000013040008,01,0,2015-11-13,2015-10-05,八幡神社,00067214,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,4,1,94176,80781,55849,83217,171,1,51331,114758,...,12,12,101319,114757,2,231,10,NaN,30,114533

In [76]:
data.isna().sum()

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113513
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113563
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114758
addressOutsideImageId       114758
closeDate                   104650
closeCause                  104650
successorCorporateNumber    114080
changeCause                 113629
assignmentDate                   0
latest                           0
enName                      114525
enPrefectureName            114527
enCityName                  114527
enAddressOutside            114758
furigana                     67858
hihyoji                          0
dtype: int64

## ノック7 : マスタを読み込んで項目を横につなげよう

In [77]:
import os

os.listdir('data')

['mst_corp_kind.csv',
 'mst_hihyoji.csv',
 '22_shizuoka_all_20210331.csv',
 'diff_20210405.csv',
 'diff_20210407.csv',
 'diff_20210406.csv',
 'diff_20210401.csv',
 'mst_process_kbn.csv',
 'mst_column_name.txt',
 'mst_latest.csv',
 'mst_closeCause.csv',
 'diff_20210408.csv',
 'diff_20210409.csv',
 'mst_correct_kbn.csv']

In [78]:
import pandas as pd

mst_process_kbn = pd.read_csv('data/mst_process_kbn.csv', dtype=object)
mst_process_kbn

  process process_kbn_name
0      01               新規
1      11        商号又は名称の変更
2      12         国内所在地の変更
3      13         国外所在地の変更
4      21         登記記録の閉鎖等
5      22         登記記録の復活等
6      71             吸収合併
7      72           吸収合併無効
8      81         商号の登記の抹消
9      99               削除

In [79]:
data = data.merge(mst_process_kbn, on='process', how='left')
data

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0,新規
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114753,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,...,NaN,2017-07-07,1,NaN,NaN,NaN,NaN,アクト,0,新規
114754,3196,9080101022431,01,0,2021-04-09,2021-04-09,株式会社ＬＥＳＱＵＡ,NaN,301,静岡県,...,NaN,2021-04-09,1,NaN,NaN,NaN,NaN,レスカ,0,新規
114755,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,サクラキュウソウ,0,新規
114756,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,令和３年４月１日静岡県磐田市安久路二丁目２番地の２まごころ株式会社（808040101601...,2015-10-05,1,NaN,NaN,NaN,NaN,コウボウ,0,登記記録の閉鎖等
114757,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エコワークス,0,国内所在地の変更

In [80]:
mst_correct_kbn = pd.read_csv('data/mst_correct_kbn.csv', encoding='shift-jis', dtype=object)
mst_correct_kbn

  correct correct_kbn_name
0       0             訂正以外
1       1               訂正

In [81]:
data = data.merge(mst_correct_kbn, on='correct', how='left')
data

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0,新規,訂正
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114753,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,...,2017-07-07,1,NaN,NaN,NaN,NaN,アクト,0,新規,訂正
114754,3196,9080101022431,01,0,2021-04-09,2021-04-09,株式会社ＬＥＳＱＵＡ,NaN,301,静岡県,...,2021-04-09,1,NaN,NaN,NaN,NaN,レスカ,0,新規,訂正以外
114755,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,2015-10-05,1,NaN,NaN,NaN,NaN,サクラキュウソウ,0,新規,訂正
114756,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,2015-10-05,1,NaN,NaN,NaN,NaN,コウボウ,0,登記記録の閉鎖等,訂正以外
114757,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,2015-10-05,1,NaN,NaN,NaN,NaN,エコワークス,0,国内所在地の変更,訂正以外

In [82]:
mst_corp_kind = pd.read_csv('data/mst_corp_kind.csv', dtype=object)
mst_corp_kind

  kind corp_kind_name
0  101           国の機関
1  201         地方公共団体
2  301           株式会社
3  302           有限会社
4  303           合名会社
5  304           合資会社
6  305           合同会社
7  399     その他の設立登記法人
8  401          外国会社等
9  499            その他

In [83]:
data = data.merge(mst_corp_kind, on='kind', how='left')
data

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正,地方公共団体
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0,新規,訂正,地方公共団体
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114753,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,...,1,NaN,NaN,NaN,NaN,アクト,0,新規,訂正,株式会社
114754,3196,9080101022431,01,0,2021-04-09,2021-04-09,株式会社ＬＥＳＱＵＡ,NaN,301,静岡県,...,1,NaN,NaN,NaN,NaN,レスカ,0,新規,訂正以外,株式会社
114755,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,1,NaN,NaN,NaN,NaN,サクラキュウソウ,0,新規,訂正,有限会社
114756,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,1,NaN,NaN,NaN,NaN,コウボウ,0,登記記録の閉鎖等,訂正以外,有限会社
114757,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,1,NaN,NaN,NaN,NaN,エコワークス,0,国内所在地の変更,訂正以外,有限会社

In [85]:
mst_close_cause = pd.read_csv('data/mst_closeCause.csv', dtype=object)
mst_close_cause

  closeCause closeCause_name
0         01          清算の結了等
1         11        合併による解散等
2         21        登記官による閉鎖
3         31      その他の清算の結了等

In [86]:
data = data.merge(mst_close_cause, on='closeCause', how='left')
data

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正,地方公共団体,NaN
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0,新規,訂正,地方公共団体,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114753,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,...,NaN,NaN,NaN,NaN,アクト,0,新規,訂正,株式会社,NaN
114754,3196,9080101022431,01,0,2021-04-09,2021-04-09,株式会社ＬＥＳＱＵＡ,NaN,301,静岡県,...,NaN,NaN,NaN,NaN,レスカ,0,新規,訂正以外,株式会社,NaN
114755,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,NaN,NaN,NaN,NaN,サクラキュウソウ,0,新規,訂正,有限会社,NaN
114756,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,NaN,NaN,NaN,NaN,コウボウ,0,登記記録の閉鎖等,訂正以外,有限会社,合併による解散等
114757,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,NaN,NaN,NaN,NaN,エコワークス,0,国内所在地の変更,訂正以外,有限会社,NaN

In [87]:
mst_latest = pd.read_csv('data/mst_latest.csv', dtype=object)
mst_latest

  latest latest_name
0      0        過去情報
1      1        最新情報

In [88]:
data = data.merge(mst_latest, on='latest', how='left')
data

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正,地方公共団体,NaN,最新情報
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0,新規,訂正,地方公共団体,NaN,最新情報
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114753,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,...,NaN,NaN,NaN,アクト,0,新規,訂正,株式会社,NaN,最新情報
114754,3196,9080101022431,01,0,2021-04-09,2021-04-09,株式会社ＬＥＳＱＵＡ,NaN,301,静岡県,...,NaN,NaN,NaN,レスカ,0,新規,訂正以外,株式会社,NaN,最新情報
114755,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,NaN,NaN,NaN,サクラキュウソウ,0,新規,訂正,有限会社,NaN,最新情報
114756,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,NaN,NaN,NaN,コウボウ,0,登記記録の閉鎖等,訂正以外,有限会社,合併による解散等,最新情報
114757,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,NaN,NaN,NaN,エコワークス,0,国内所在地の変更,訂正以外,有限会社,NaN,最新情報

In [90]:
mst_hihyoji = pd.read_csv('data/mst_hihyoji.csv', dtype=object)
mst_hihyoji

  hihyoji hihyoji_name
0       0         検索対象
1       1       検索対象除外

In [91]:
data = data.merge(mst_hihyoji, on='hihyoji', how='left')
data

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正,地方公共団体,NaN,最新情報,検索対象
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0,新規,訂正,地方公共団体,NaN,最新情報,検索対象
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114753,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,...,NaN,NaN,アクト,0,新規,訂正,株式会社,NaN,最新情報,検索対象
114754,3196,9080101022431,01,0,2021-04-09,2021-04-09,株式会社ＬＥＳＱＵＡ,NaN,301,静岡県,...,NaN,NaN,レスカ,0,新規,訂正以外,株式会社,NaN,最新情報,検索対象
114755,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,NaN,NaN,サクラキュウソウ,0,新規,訂正,有限会社,NaN,最新情報,検索対象
114756,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,NaN,NaN,コウボウ,0,登記記録の閉鎖等,訂正以外,有限会社,合併による解散等,最新情報,検索対象
114757,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,NaN,NaN,エコワークス,0,国内所在地の変更,訂正以外,有限会社,NaN,最新情報,検索対象

## ノック8 : テキストの連結や分割をしよう

In [95]:
data[['prefectureName', 'cityName', 'streetNumber']].isna().sum()

prefectureName     0
cityName           0
streetNumber      17
dtype: int64

In [104]:
data['address'] = data['prefectureName'] + data['cityName'] + data['streetNumber']
print( data.columns )
print( data.head(3) )

Index(['sequenceNumber', 'corporateNumber', 'process', 'correct', 'updateDate',
       'changeDate', 'name', 'nameImageId', 'kind', 'prefectureName',
       'cityName', 'streetNumber', 'addressImageId', 'prefectureCode',
       'cityCode', 'postCode', 'addressOutside', 'addressOutsideImageId',
       'closeDate', 'closeCause', 'successorCorporateNumber', 'changeCause',
       'assignmentDate', 'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji', 'process_kbn_name',
       'correct_kbn_name', 'corp_kind_name', 'closeCause_name', 'latest_name',
       'hihyoji_name', 'address'],
      dtype='object')
  sequenceNumber corporateNumber process correct  updateDate  changeDate  \
0              1   1000013040008      01       1  2018-04-02  2015-10-05
1              2   1000013050072      01       1  2018-04-02  2015-10-05
2              3   1000013050080      01       1  2018-04-02  2015-10-05

      name nameImageId kind prefectureName  ... enAddressOutside  \
0  静岡家庭裁判所         NaN  101            静岡県  ...              NaN
1  清水簡易裁判所         NaN  101            静岡県  ...              NaN
2  浜松簡易裁判所         NaN  101            静岡県  ...              NaN

        furigana hihyoji process_kbn_name correct_kbn_name corp_kind_name  \
0  シズオカカテイサイバンショ       0               新規               訂正           国の機関
1   シミズカンイサイバンショ       0               新規               訂正           国の機関
2  ハママツカンイサイバンショ       0               新規               訂正           国の機関

  closeCause_name latest_name hihyoji_name             address
0             NaN        最新情報         検索対象     静岡県静岡市葵区城内町１−２０
1             NaN        最新情報         検索対象  静岡県静岡市清水区天神１丁目６−１５
2             NaN        最新情報         検索対象   静岡県浜松市中区中央１丁目１２−５

[3 rows x 37 columns]

In [105]:
data.loc[data['streetNumber'].isna()].head(3)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address
3898,3909,1080005006629,01,0,2015-11-13,2015-10-05,保証責任尾羽愛郷負債整理組合,NaN,399,静岡県,...,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,NaN
16621,16657,2080005006628,01,0,2015-11-13,2015-10-05,保証責任原下河原負債整理組合,NaN,399,静岡県,...,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,NaN
20848,20889,2080105004250,01,1,2019-07-05,2015-10-05,保證責任對島村負債整理組合,NaN,399,静岡県,...,NaN,ホショウセキニンタジマムラフサイセイリクミアイ,1,新規,訂正,その他の設立登記法人,NaN,最新情報,検索対象除外,NaN

In [107]:
data['address'].loc[data['streetNumber'].isna()] = data['prefectureName'] + data['cityName']

In [108]:
data.loc[data['streetNumber'].isna()].head(3)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address
3898,3909,1080005006629,01,0,2015-11-13,2015-10-05,保証責任尾羽愛郷負債整理組合,NaN,399,静岡県,...,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,静岡県静岡市清水区
16621,16657,2080005006628,01,0,2015-11-13,2015-10-05,保証責任原下河原負債整理組合,NaN,399,静岡県,...,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,静岡県静岡市清水区
20848,20889,2080105004250,01,1,2019-07-05,2015-10-05,保證責任對島村負債整理組合,NaN,399,静岡県,...,NaN,ホショウセキニンタジマムラフサイセイリクミアイ,1,新規,訂正,その他の設立登記法人,NaN,最新情報,検索対象除外,静岡県伊東市

In [110]:
data['postCode_head'] = data['postCode'].str[:3]
data['postCode_head']

0         420
1         424
2         430
3         438
4         425
         ...
114753    420
114754    410
114755    410
114756    430
114757    431
Name: postCode_head, Length: 114758, dtype: object

In [111]:
data['postCode_tail'] = data['postCode'].str[-4:]
data['postCode_tail']

0         0854
1         0809
2         0929
3         0077
4         0022
          ...
114753    0845
114754    0022
114755    2132
114756    0825
114757    1112
Name: postCode_tail, Length: 114758, dtype: object